<ul>
  <li>
    <a class="linkStyle" (click)="navigateToConversationListScreen()"
      >Conversations</a
    >
  </li>
  <li>
    <a class="linkStyle" (click)="navigateToContactPage()">User List</a>
  </li>
  <a class="linkStyle" (click)="navigateToGroupListPage()">Group List</a>
  <li>
    <a class="linkStyle" (click)="navigateToConversationList()"
      >Conversation List</a
    >
  </li>
  <li>
    <a class="linkStyle" (click)="navigateToContactScreen()">Users</a>
  </li>
  <li>
    <a class="linkStyle" (click)="navigateToUnifiedScreen()">Comet Chat</a>
  </li>
</ul>
